body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;    
    margin: 0px;
    padding: 0px;
}
#header-nav{
    color: #fff;
    padding: 12px;
    background-color: #c66868;
    border-radius: 0%;
    border: 0px;
}
.navbar-header h1{
    margin: 20px;
    align-items: center;
    align-content: center;
}
header nav div {
    position: relative;
    display: flex;
}
    h1{      
        margin: 20px;
    }
    .column { 
        float: left;
        background-color: #999898;
        box-sizing: border-box;
        border: black 3px solid;                    
        margin-right: 3%;
        margin-bottom: 5%;
    }
    section h2 {
        text-align: center;
        margin: 0px;
        margin-left: 60%;          
        padding: auto;
        box-sizing: border-box;
        border-bottom: black 3px solid;
        border-left: black 3px solid;
    }
    section p {
        padding: 10px;
        margin: 0px;
        text-align: justify;
    }

    #menu1{
        background-color: #D59999;

    }
    #menu2{
        background-color: #C14543;
        color: #ffffff;
    }
    #menu3{
        background-color: #E5D099;
    }
    .Clast{
        margin-right: 0px;
    }
    #sections{
        margin-left: 4%;
        justify-content: center;
        margin-right: 4%;
    }
/* Desktop version */
@media (min-width: 992px) {
    .column{
        width: 30%;
    }
    #sections{        
        display: flex;
        margin-left: 4%;
    }  
    .navbar-nav{
        display: none;
    }  
}
/* Tablet version */
@media (min-width: 768px) and (max-width: 992px) {
    .column{
        position: flex;  
        width: 47%;
        margin-right: 6%;
        justify-content: center;  
        align-items: center;          
    }
    #column2{
        margin-right: 0%;
    }
    #sections{
        margin-left:  5% 5%; 
    }
    .Clast{
        width: 100%;
        margin-right: 0%;
    }
    .navbar-nav{
        display: none;
    }
}
/* Mobile version */
@media (max-width: 768px) {
    .column{
        align-items: center;
        justify-content: center;
        margin-right: 0%;
        width: 80%;
        position: relative;
    }
    #sections{
        justify-content: center;
        margin-left: 16%;
        margin-right: 0%;
        align-items: center;
        display: block;
    }
    #navbarToggle{
        position: absolute;
        bottom: 29%;
        right: 20px;
        display: block;
        justify-content: end;
        background-color: #c66868;
        color: #fff;
        padding: 8px 12px 8px 12px;
        margin: 0px;
        border: rgb(135, 56, 56) 2px solid;
    }
    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }
    #nav-list{
        margin: auto;
        margin-top: 10px;
    }
    #nav-list a{
        padding: 10px;
        margin: 0px;
        text-align: center;
        background-color: #c66868;
        color: #fff;
    }
    
    #collapsable-nav{
        padding: 0px;
    }
    #nav-list a {
        font-size: 1.2em;
    }
    #nav-list a:hover, 
    #navbarToggle:hover { 
    background-color: #aa5656;
    }
    ul {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    ul li{
        width: 100%;
    }
}        
